# Ignore node modules
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build/dist/image folders
dist/
build/
image/

# Ignore IDE/editor folders
.vscode/
.idea/
